
.recent-post1 img {
    width: 77% !important;
    height: auto;
    border-radius: 8px;
}
@media (max-width:480px){
    .featured-post p{
        font-size: 14px;
        line-height: 1.3rem;
    }
    .featured-post h3,h4{
        font-size:26px;
    }
}